@font-face {
    font-family: 'CoventryGardenNF';
    src: url('fonts/CoventryGardenNF.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}




/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}


html {
    height: 100%; /* This makes the html element cover at least the full height of the viewport */
}

body {
    display: grid;
    grid-template-areas:
        "topbar"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto; /* Auto for header and footer, 1fr for main content */
    grid-template-columns: 1fr; /* Single column layout */
    
    margin: 0;
    padding: 0;
    background-color: #7a89e4;
    font-family: 'Poppins', sans-serif;
    color: black;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    min-height: 100vh; /* Ensure the body is at least as tall as the viewport */
}


header {
    grid-area: topbar;
    color: #d0d6ff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 0;
    text-align: center;
    position: sticky; /* Stick the header to the top of the viewport */
    /* Add shadow */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    /* round the corners */
    border-radius: 0px 0px 10px 10px;
}

main {
    min-height: 100vh; /* This will ensure that 'main' covers the full viewport height */
    padding: 20px;
    grid-area: content;
    
    
}

footer {
    grid-area: footer;
    margin-top: 30vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;

    /* Add shadow */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    /* round the corners */
    border-radius: 10px 10px 0px 0px;
    position: relative;
    bottom: 0; /* Stick the footer to the bottom */
}

footer a{
    /* add shadow */
    text-shadow: 2px 2px 2px #000000;

}

p {
    margin: 5px 0;
    
}

header p{
    /* add shadow */
    text-shadow: 2px 2px 2px #000000;
}


.logo {
    font-family: 'CoventryGardenNF';
    /* Increase the size of the logo relative to the viewport width */
    font-size: 6vw; /* Adjust as needed, 5vw is just an example */

    /* Space below the logo, relative to the viewport height */
    margin-top: 8vh; /* Adjust as needed */
    margin-bottom: 3vh; /* Adjust as needed */;
    
    /* add shadow */
    text-shadow: 2px 2px 2px #000000;
    
}

.logo a {
    text-decoration: none; /* Remove the default underline */
    color: inherit; /* Inherit the color from the parent element */
}
.logo a:hover {
    color: #7a89e4; /* Change the color on hover to purple or your desired color */
    font-size: 60px;
}



.menu-options {
    /* Use flexbox for centering */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 10vh; /* Take full height of the viewport */
}

.menu-options ul {
    /* Removes default list styling */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Keeps the list horizontal */
}

.menu-options ul li {
    /* Styles for individual menu items */
    margin-right: 30px; /* Space between menu items */
    /* Last item should not have a right margin */
    margin-left: 30px; /* Space between menu items */
}

.menu-options ul li:first-child {
    margin-left: 0; /* First item should not have a left margin */
}

.menu-options ul li:last-child {
    margin-right: 0; /* Last item should not have a right margin */
}

.menu-options ul li a {
    /* Existing styles for the links */
    text-decoration: none;
    color: #d0d6ff; /* Your existing color */
    /* add shadow */
    text-shadow: 2px 2px 2px #000000;
}

.menu-options ul li a:hover {
    /* Scale up the size of the menu item on hover */
    font-size: 1.1em;

    /* Change the color on hover to purple or your desired color */
    color: #7a89e4;

    /* Add a smooth transition effect */
    transition: color 0.2s, transform 0.2s;

    /* Use transform to scale the text without affecting layout */
    transform: scale(1.1);
}





.vertical-spacing {
    margin-bottom: 40px;
}

.contact-info {
    text-align: center;
    padding: 20px;
}

.contact-info a {
    color: #d0d6ff;
    text-decoration: none;
    margin: 0 10px;
}

/* CATEGORIES */



#categories {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); /* Three columns by default */
    gap: 20px; /* Adjust the gap size as needed */
}


#category {
    list-style-type: none;
    background-color: #d0d6ff;
    border-radius:3%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    min-width: 300px;
    margin-bottom: 3vh; /* Adjust this value as needed */
}


#categories-title{
    grid-column: 1 / -1; /* Span the title across all columns */
    text-align: center;
    
}


/* Style for the icon */
.icon {
    max-width: 130px;
    height: auto;
    margin-top: 30px;
}
.product-icon {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
}

.category-title{
    margin: 0;
}

.top{
    margin: 20px 0px 20px 0px;
}

/* Style for the right column (category details) */
.category-details {
    margin: 0px 50px 0px 50px;
    text-align: left; /* Align text to the left */
}

.category-details a{
    text-decoration: none;
    font-weight: bold;
    color: #3b52e7;
}

/* Style for the icons using the "sub-icon" class */
.sub-icon {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px; /* Add spacing between the icon and text */
}

.subcategories {
    padding: 0;
    margin: 0;
}

/* Style for the sub-categories list */
.sub-category {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 20px 0; /* Adjust spacing between subcategories */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Align items vertically at the center */
}

/* Style for the subcategory links */
.sub-category a {
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Align items vertically at the center */
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit the text color from the parent */
    transition: transform 0.2s; /* Add a smooth transition effect */
}

/* Hover effect for the subcategory links */
.sub-category a:hover {
    transform: scale(1.2); /* Enlarge the link on hover */
}

/* PRODUCTS */

.directory a{
    text-decoration: none;
    color: inherit;
}
.directory a:hover{
    color: #d0d6ff;
}

.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns by default */
    grid-template-rows: auto auto auto; /* Three rows with automatic height */
    gap: 40px; /* Gap between grid items */
}

#product{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns by default */
   

}
.photos {
    width: 100%; /* Set the width of the grid item to 100% */
    grid-area: 1 / 1 / 3 / 2;
    list-style-type: none;
    background-color: #d0d6ff;
    border-radius:3%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    min-width: 300px;
    padding: 10px;
}

.large {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.small-photos {
    display: flex;
    align-items: flex-start;
    
    gap: 1em;
}

.small {
    max-width: 30%;
    height: auto;
}


.product-details {
    grid-area: 1 / 2 / 3 / 3;
    list-style-type: none;
    background-color: #d0d6ff;
    border-radius:3%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    min-width: 300px;
}

/* Style for the right column (category details) */
.bottom {
    margin: 0px 50px 20px 50px;
    text-align: left; /* Align text to the left */
}

.additional-info {
    grid-area: 3 / 1 / 4 / 3;
    align-items: center; /* Center content vertically */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */

    list-style-type: none;
    background-color: #d0d6ff;
    border-radius:3%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    min-width: 300px;
}


/* ABOUT US */

.person-info-container {
    display: flex; /* Use flexbox to lay out child elements inline */
    flex-wrap: wrap; /* Allows items to wrap onto the next line if needed */
    justify-content: space-around; /* Spreads out the items evenly */
    gap: 20px; /* Optional: Adds space between the items */
    margin-top: 5vw;
}

.person-info {
    display: flex; /* Align image and description side by side */
    align-items: center; /* Center items vertically */
}

.profile-photo {
    max-width: 150px; /* Adjust as necessary */
    border-radius: 50%;
    margin-right: 20px;
}

.person-description {
    max-width: calc(100% - 400px); /* Adjust width minus the image width and margin */
}
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}


/*registration */


.form-container {
    max-width: 50%; /* Or the width you prefer */
    padding: 5vw; /* Responsive padding */
    margin: 5vw auto; /* Centers the box */
    background-color: #f3f3f3; /* Light grey background */
    border-radius: 1em; /* Responsive based on font size */
    box-shadow: 0 0.2vw 0.5vw rgba(0,0,0,0.2); /* Shadow size based on viewport width */
    border: 0.1vw solid #ddd; /* Border thickness based on viewport width */
}


input, select, textarea, button {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px 0;
    padding: 8px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14% 20%;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

form {
    max-width: 100%; /* Adjust as needed */
    margin: auto;
}

fieldset {
    border: none; /* Removes the border around fieldsets */
    margin: 10px 0; /* Adds some spacing between each section */
}

input, select, textarea { /* Now includes textarea */
    width: 100%; /* Makes textarea take full width of its container */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; /* Includes padding and border in the width */
}

label {
    display: block; /* Makes label take the full width and allows the input to be on a new line */
    margin-top: 20px; /* Adds space between the label and any elements above */
}

/* Adjust the button styling as desired */
button[type="submit"] {
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #7a89e4; /* Example button color */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(91, 72, 177); /* Darker shade on hover */
}

/* Styling for the <details> and <summary> tags */
details {
    margin-bottom: 15px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}




/* Media query for tablets: 2 columns */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    #categories {
        grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
    }
}

/* Media query for mobile devices: 1 column */
@media screen and (max-width: 600px) {
    #categories {
        grid-template-columns: 1fr; /* Single column for mobile */
    }
}


/* Media query for tablets and mobile devices: 1 column */
@media screen and (max-width: 1024px) {
    
    .product {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-rows: auto auto auto; /* Adjust as needed */
    }

    .photos {
        grid-area: 1 / 1 / 2 / 2; /* Position in the first row */
    }

    .product-details {
        grid-area: 2 / 1 / 3 / 2; /* Position in the second row */
    }

    .additional-info {
        grid-area: 3 / 1 / 4 / 2; /* Position in the third row */
    }
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section h2{
    margin-bottom: 5vw;
    /* underline */
    text-decoration: underline;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Adjusted for reduced space */
    width: 100%;
}

.artwork, .quote-container {
    width: 35%; /* Adjust width if necessary */
    margin: 0px; /* Reduced margin */
}

/* Alternate positioning of artwork and quote */
.content:nth-of-type(odd) .artwork {
    order: 1;
}

.content:nth-of-type(odd) .quote-container {
    order: 2;
}

.content:nth-of-type(even) .artwork {
    order: 2;
}

.content:nth-of-type(even) .quote-container {
    order: 1;
}

.quote-container {
 
  
    background-image: url('assets/cloud.jpg');
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 100px; /* Adjust or remove as needed */
    position: relative;
    clip-path: ellipse(50% 50% at 50% 50%);
  
    
    /* This creates an ellipse that is 100% the width and height of the element, centered */
    
    padding: 3em;
    text-align: center;
    max-width: 230px;
    max-height: 500px;

    margin-top: 20vh;
    margin-bottom: 20vh;
}



.quote {
    font-family: 'Conderon';
    src: url('fonts/conderon.otf') format('otf');

    font-weight: bold; /* Ensures the text is bold */
    font-style: normal;
    /* add shadow */
    text-shadow: 1px 1px 1px #3d4472;

    display: grid;
    font-size: 3.0vw; /* Increased font size to make the text appear bolder */
    margin-top: 7vh; /* Adjust as needed */
    margin-bottom: 3vh; /* Adjust as needed */

    /* align the quote to the center of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d4472; 
}




.slogan-container {
    position: relative; /* Parent container must be relative */
}

.background {
    width: 80%; /* Ensure the image covers the container */
    height: auto;
    /* align to the center */
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.slogan {
    position: absolute; /* Position slogan absolutely to overlay on the image */
    top: 30%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the positioning to the center */

    /* Rest of your styles */
    font-family: 'Conderon';
    src: url('fonts/conderon.otf') format('otf');
    font-weight: bold;
    font-size: 2.5vw;
    color: #d0d6ff;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #3d4472;
    /* add shadow */
    text-shadow: 2px 2px 2px #3d4472;
}


.paragraph{
    font-family: 'Conderon';
    src: url('fonts/conderon.otf') format('otf');

    font-weight: bold; /* Ensures the text is bold */
    font-style: normal;

    display: grid;
    gap: 10px;
    font-size: 4vw; /* Increased font size to make the text appear bolder */
    margin-top: 12vh; /* Adjust as needed */
    margin-bottom: 3vh; /* Adjust as needed */
    /*add shadow */
    text-shadow: 2px 2px 2px #3d4472;
    text-align: center;
  
    color: #3d4472; 
}


.artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    /* Add any specific styles you want for the image here */
    max-width: 30%;
    height: auto;
}



